# $\boxed{x}$ Boardflare Python for Excel Examples

[Jupyterlite](https://jupyterlite.readthedocs.io/en/latest/) notebooks enable you to edit and run Python code in your web browser using the same [Pyodide](https://pyodide.org/en/stable/) Python runtime as the `BOARDFLARE.RUNPY` function in Excel, so any code that works here should work thereðŸ¤ž. If you are new to using Jupyter, check our their [documentation](https://jupyterlab.readthedocs.io/en/latest/user/notebook.html).

Notebooks typically contains a single function, and are organized in folders by task.  You can find more details on the [functions](https://www.boardflare.com/tasks/functions) page of our website.

Some very basic example functions are provided below to get you started.

In [1]:
# Set global variables as RUNPY does when passed scalar values.
arg1 = 2
arg2 = 3

In [2]:
# Adds two numbers.
def add_numbers(a, b):
    return a + b

add_numbers(arg1, arg2)

5

In [3]:
# Set global variables as RUNPY does when passed array values.
# Note the array will always be 2D, even if a single row or column.
import pandas as pd
arg1 = pd.DataFrame([[1, 2, 3]])
arg2 = 3

In [4]:
# Converts arg1 to 2D list and add arg2 to each element
def add_to_each_element(arg1, arg2):
    return [[element + arg2 for element in row] for row in arg1.values.tolist()]

add_to_each_element(arg1, arg2)

[[4, 5, 6]]

In [5]:
# Uses numpy to add do the same operation as above.
import numpy as np

# Define function to add two numbers using numpy and call it.
def add_numbers_np(a, b):
    sum = np.add(a, b).values.tolist()
    return sum

add_numbers_np(arg1, arg2)

[[4, 5, 6]]

In [6]:
# Function to convert inches to mm.
def inches_to_mm(inches):
    return inches * 25.4

inches_to_mm(arg1)

      0     1     2
0  25.4  50.8  76.2